<header class="alternate">
  <% if user_signed_in? %>
      <div class="header-left">
        <a href="/"><h1>Hourglass</h1></a>
      </div>
      <div class="header-middle">
        <div class="field">
          <input type="search" placeholder="Search" value="index.html"/>
        </div>

      </div>
      <div class="header-right">
        <%= react_component('SelectCompareType') %>
      </div>
      <div class="header-right">

        <h3><%= current_user.username %></h3>

        <div class="dropdown">
          <%= link_to 'Settings', settings_path, class: 'button simple-button' %>
          <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'button secondary-button' %>
        </div>
      </div>
  <% else %>
      <div class="header-left">
        <h1>Hourglass</h1>
      </div>
      <div class="header-middle">

      </div>
      <div class="header-right">
        <%= link_to 'Sign in with Github', user_omniauth_authorize_path(:github), class: 'primary-button' %>
      </div>
  <% end %>
</header>